<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Bookshelf</title>
  </head>
  <body>
    {% block header %}
    {% include "shared/_navbar.html" %}
    {% endblock %}    
    <section id="app" class="section">
      {% block content %}
      <h1>No Content</h1>
      {% endblock %}
    </section>
    {% block footer %}
    {% include "shared/_footer.html" %}    
    {% endblock %}

    <!-- scripts and styles -->
    {% style "/assets/bulma/css/bulma.min.css" %}
    {% style "/assets/material-icons/css/material-icons.min.css" %}
    {% style "/css/screen.css" %}

    <script type="text/javascript">
        var csrfToken = "{{csrf-token}}";
    </script>
    {% script "/js/app.js" %}
  </body>
</html>
